.test{
    width: 700px;
}
.header {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
textarea {
    resize: none;
}
.avatar {
    width: 100px;
    height: auto;
    padding-bottom: 90px;
}
.username {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding-top: 50px;
    margin-bottom: 20px;
}
.info {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}
.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border 0.3s ease;
}
.inputField:focus {
    border-color: #858c79;
    outline: none;
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    
}
.saveBtn {
    background: #858c79;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
}
.saveBtn:hover {
    background: #5c6154;
}
.editBtn {
    background: #858c79;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
}
.editBtn:hover {
    background: #5c6154;
}

.infoContainer {
    flex-direction: column;
}